#!/bin/bash

USERNAME="${username}"
PASSWORD="${password}"
DJANGO_SETTINGS_MODULE="${django_settings_module}"
DJANGO_SECRET_KEY="${django_secret_key}"
CONTAINER_NAME="${django_container_name}"
NCR_HOST="${ncr_host}"
NCR_IMAGE="${ncr_image}"
NCP_ACCESS_KEY="${ncp_access_key}"
NCP_SECRET_KEY="${ncp_secret_key}"
NCP_LB_DOMAIN="${ncp_lb_domain}"
POSTGRES_DB="${postgres_db}"
POSTGRES_USER="${postgres_user}"
POSTGRES_PASSWORD="${postgres_password}"
POSTGRES_PORT="${postgres_port}"
DB_HOST="${db_host}"
AWS_ACCESS_KEY="${aws_access_key}"
AWS_SECRET_KEY="${aws_secret_key}"


REMOTE_DIRECTORY=/home/$USERNAME/
ENV_PATH=$REMOTE_DIRECTORY.env
BASH_ALIASES=$REMOTE_DIRECTORY.bash_aliases
BASHRC=$REMOTE_DIRECTORY.bashrc
AWS_PATH=$REMOTE_DIRECTORY.aws
AWS_CONFIG_PATH=$AWS_PATH/config
AWS_CREDENTIALS_PATH=$AWS_PATH/credentials


echo "Add User"
useradd -s /bin/bash -d $REMOTE_DIRECTORY -m $USERNAME

echo "Set Password"
echo "$USERNAME:$PASSWORD" | chpasswd

echo "Set sudo"
usermod -aG sudo $USERNAME
echo "$USERNAME ALL=(ALL:ALL) NOPASSWD: ALL" >> /etc/sudoers.d/$USERNAME

echo "Update apt and Install docker & docker-compose"
sudo apt-get update
sudo apt install -y docker.io docker-compose

echo "Start docker"
sudo service docker start && sudo service docker enable

echo "Add user to 'docker' group"
sudo usermod -aG docker $USERNAME

echo "Create .env file"
touch $ENV_PATH
echo "DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE" >> $ENV_PATH
echo "DJANGO_SECRET_KEY=$DJANGO_SECRET_KEY" >> $ENV_PATH
echo "DJANGO_CONTAINER_NAME=$CONTAINER_NAME" >> $ENV_PATH
echo "NCR_HOST=$NCR_HOST" >> $ENV_PATH
echo "NCR_IMAGE=$NCR_IMAGE" >> $ENV_PATH
echo "NCP_ACCESS_KEY=$NCP_ACCESS_KEY" >> $ENV_PATH
echo "NCP_SECRET_KEY=$NCP_SECRET_KEY" >> $ENV_PATH
echo "NCP_LB_DOMAIN=$NCP_LB_DOMAIN" >> $ENV_PATH
echo "POSTGRES_DB=$POSTGRES_DB" >> $ENV_PATH
echo "POSTGRES_USER=$POSTGRES_USER" >> $ENV_PATH
echo "POSTGRES_PASSWORD=$POSTGRES_PASSWORD" >> $ENV_PATH
echo "POSTGRES_PORT=$POSTGRES_PORT" >> $ENV_PATH
echo "DB_HOST=$DB_HOST" >> $ENV_PATH


echo "Create .aws file"
mkdir $AWS_PATH
touch $AWS_CONFIG_PATH
echo "[default]" >> $AWS_CONFIG_PATH
echo "region = ap-northeast-2" >> $AWS_CONFIG_PATH
echo "output = json" >> $AWS_CONFIG_PATH
touch $AWS_CREDENTIALS_PATH
echo "[default]" >> $AWS_CREDENTIALS_PATH
echo "aws_access_key_id = $AWS_ACCESS_KEY" >> $AWS_CREDENTIALS_PATH
echo "aws_secret_access_key = $AWS_SECRET_KEY" >> $AWS_CREDENTIALS_PATH


echo "Set alias to \"$BASH_ALIASES\" file"
touch $BASH_ALIASES
echo "if [ -f $ENV_PATH ]; then" >> $BASH_ALIASES
echo "    . $ENV_PATH" >> $BASH_ALIASES
echo "fi" >> $BASH_ALIASES
echo "alias ssbas=\"sed -i 's/\r$//g' $BASH_ALIASES && source $BASH_ALIASES\"" >> $BASH_ALIASES
echo "alias chbaenv=\"sudo chown lion:lion $BASH_ALIASES $ENV_PATH\"" >> $BASH_ALIASES
echo "alias dps=\"docker ps\"" >> $BASH_ALIASES
echo "alias dpsa=\"docker ps -a\"" >> $BASH_ALIASES
echo "alias dimg=\"docker image\"" >> $BASH_ALIASES
echo "alias dimgs=\"docker images\"" >> $BASH_ALIASES
echo "alias drst=\"docker restart\"" >> $BASH_ALIASES
echo "alias dlog=\"docker logs\"" >> $BASH_ALIASES
echo "alias dpsls=\"docker ps && docker logs \$DJANGO_CONTAINER_NAME\"" >> $BASH_ALIASES
echo "alias dexc=\"docker exec \$DJANGO_CONTAINER_NAME\"" >> $BASH_ALIASES
echo "alias dexib=\"docker exec -it \$DJANGO_CONTAINER_NAME bash\"" >> $BASH_ALIASES
echo "alias dstrm=\"docker stop \$DJANGO_CONTAINER_NAME && docker rm \$DJANGO_CONTAINER_NAME\"" >> $BASH_ALIASES
echo "alias drundj=\"docker run -d -p 8000:8000 --name \$DJANGO_CONTAINER_NAME --env-file .env \$NCR_HOST/\$NCR_IMAGE\"" >> $BASH_ALIASES
echo "alias drerun=\"dstrm && drundj && dps\"" >> $BASH_ALIASES


mkdir $REMOTE_DIRECTORY.ssh
echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCebs3wnlmzhLaNzKgv6wi+5oPBJClyNWtgMnJycbbNHHTt1HAEcMYrTHygxA83VqT0MIkc5jmfwv+hnX1CrBeSUNv2vke6XW0XHbgoLPAuZ/AwO04ft6HKVsq/zzE5MoiwJ6m30DP5zuFMIrJ/ALKY14JXImO+fH6XvuoqvtGSrf8PXqs8bl1HEYRaMTXPKWUOj8RxqZNyIwbMNQj96jdXlN48L5zDV8oQ6QsBMKWd0wr7wSWhzCkzhxsfnu/xbNui1yIBCIHf6znyYIaGulgM0e+ImTKPUgzpwe5c2SjxaRQXg7MHlFG/nN38RpRGZBVUuFKkjNSGlAY0SHCjGnC5wpYgbIYWgv3iw3Jx0kC552PKvOUtBaroKD/1vVbEarqd0HpB+eEuLgOM+u0sQcUpTAAvOD8XZ17zryllfkAdhykET/dFqtM3kHAIfVH+4bBDYnisVNG81cK+oiWALKxsSaWjP5O0IY+eKcsOgaCOAKwoc+uskyjEsbjIgbSHXAM= brown@DESKTOP-8VEJ6F3" >> $REMOTE_DIRECTORY.ssh/authorized_keys



# Set Djanbo Server

echo "Login to NCR"
docker login $NCR_HOST -u $NCP_ACCESS_KEY -p $NCP_SECRET_KEY

echo "Pull Django Image from NCR"
docker pull $NCR_HOST/$NCR_IMAGE


echo "Run Django Image"
sudo docker run -d \
-p 8000:8000 \
--name $CONTAINER_NAME \
-v $AWS_PATH:/root/.aws:ro \
--env-file $ENV_PATH \
$NCR_HOST/$NCR_IMAGE


echo "done"